.gog {
	color: red;
	color: blue;
}

body {
	font-style: 15px;
}

div {
	font-style: 44px;
}

.block {
	color: red;
}

.erter {
}
.God {
}
.Zimd {
}
.Ogr {
}

.erter {
}

.zorg {
	color: red;
}

.Go4d {
}
.Z332 {
}
.23fsd {
}
.block {
	&__ {
	}
}
